:where(
    .button,
    button,
    input:is([type="button"], [type="submit"], [type="reset"])
  ),
:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  --_accent: initial;
  --_text: initial;
  --_size: initial;
  --_display: inline-flex;
  --_gap: var(--size-relative-2);
  --_border: var(--_surface);
  --_justify-content: center;

  gap: var(--_gap);
  display: var(--_display);
  text-align: center;
  justify-content: var(--_justify-content);
  text-decoration: none;
  font-size: var(--_size);
  background: var(--_surface);
  color: var(--_text);
  border: var(--border-size-2) solid var(--_border);

  font-weight: var(--font-weight-bold);
  padding: var(--size-2) var(--size-3);

  border-radius: min(calc(var(--radius) / 2), var(--radius-2));

  &:where(:not(:active):hover),
  &:where(:not(:active):focus-visible) {
    background: var(--_surface-hover);
    border-color: var(--_surface-hover);
  }
  &:where(:active) {
    transform: scale(0.98);
  }
  transition: 250ms all;
  --_text: var(--_text-light);
  --_surface: var(--_surface-light);

  --_surface-hover: var(--_surface-hover-light);

  @media (--OSdark) {
    --_text: var(--_text-dark);
    --_surface: var(--_surface-dark);
    --_surface-hover: var(--_surface-hover-dark);
  }
}

button:not([class="button"]),
.button--default {
  --_surface-light: var(--gray-14);
  --_text-light: var(--gray-1);
  --_surface-hover-light: var(--gray-12);

  --_surface-dark: var(--gray-3);
  --_text-dark: var(--gray-14);
  --_surface-hover-dark: var(--gray-1);
}

.button--accent {
  --_surface: var(--link);
  --_text: var(--surface-2);
  --_surface-hover: var(--link-hover);
}



[data-theme="light"] {
  & .button--default,
  & button {
    --_text: var(--_text-light);
    --_surface: var(--_surface-light);
    --_surface-hover: var(--_surface-hover-light);
  }
}

[data-theme="dark"] {
  & .button--default,
  & button {
    --_text: var(--_text-dark);
    --_surface: var(--_surface-dark);
    --_surface-hover: var(--_surface-hover-dark);
  }
}

button,
.button {
  &[disabled],
  &.disabled {
    opacity: 0.7;
    --_surface-hover: var(--_surface);
  }
}

.button--current {
    background: var(--_surface-hover);
    border-color: var(--_surface-hover);
    cursor: default;
}

[data-theme="light"],
[data-theme="dark"] {
  button,
  .button {
    &[disabled],
    &.disabled {
      opacity: 0.7;
      --_surface-hover: var(--_surface);
    }
  }
}

.button--large {
  --_size: var(--font-size-2);
}
