


:where(.btn,button,input:is([type="button"],[type="submit"],[type="reset"])),
:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  --_accent: initial;
  --_text: initial;
  --_size: initial;
  --_display: inline-flex;
--_gap: var(--size-relative-2);
  --_border: var(--_bg);
  
  gap: var(--_gap);
  display: var(--_display);
 text-align: center;
  text-decoration: none;
  font-size: var(--_size);
  background: var(--_bg);
  color: var(--_text);
  border: var(--border-size-2) solid var(--_border);

  font-weight: var(--font-weight-bold);
  padding: var(--size-2) var(--size-3);

  border-radius: var(--radius-2);

  &:where(:not(:active):hover), &:where(:not(:active):focus-visible) {
    background: var(--_bg-hover);
    border-color: var(--_bg-hover);
  }
  &:where(:active) {
    transform: scale(0.98);

  }
 transition: 250ms all;
  --_text: var(--_text-light);
  --_bg: var(--_bg-light);

  --_bg-hover: var(--_bg-hover-light);



  @media (--OSdark) {
    --_text: var(--_text-dark);
    --_bg: var(--_bg-dark);
    --_bg-hover: var(--_bg-hover-dark);
  }

}

button:not([class="btn"]), .btn--default {
  --_bg-light: var(--gray-11);
  --_text-light: var(--gray-1);
  --_bg-hover-light: var(--gray-7);

  --_bg-dark: var(--gray-2);
  --_text-dark: var(--gray-11);
  --_bg-hover-dark: var(--gray-0);



}

.btn--accent {
  --_bg: var(--brand);
  --_text: var(--surface-1);
  --_bg-hover: var(--link-hover);

}



.light {
  & .btn--default, & button:not([class]) {
  --_text: var(--_text-light);
  --_bg: var(--_bg-light);
  --_bg-hover: var(--_bg-hover-light);

}
}

.dark {
  & .btn--default, & button:not([class]) {
  --_text: var(--_text-dark);
  --_bg: var(--_bg-dark);
  --_bg-hover: var(--_bg-hover-dark);

}
}

button, .btn {
  &[disabled], &.disabled {
    opacity: .7;
    --_bg-hover: var(--_bg); 
  }
}

.light, .dark {
  button, .btn {
    &[disabled], &.disabled {
      opacity: .7;
      --_bg-hover: var(--_bg); 
    }
  }
}


