
blockquote.callout {
  --callout-light: var(--utility-6);
  --callout-dark: var(--utility-4);
  --callout: var(--callout-light);
  [data-theme="light"] & {
    --callout: var(--callout-light);
  }

  @media (prefers-color-scheme: dark) {
    --callout: var(--callout-dark);
  }

  [data-theme="dark"] & {
    --callout: var(--callout-dark);
  }
}



blockquote.callout {

  --_background: var(--callout);
  --_border-color: initial;
  --_color: var(--callout);
  --_icon-size: 1em;
  --_title-size: var(--font-size-3);
  --_title-weight: var(--font-weight-bold);

  position: relative;
  border-color: var(--_border-color, var(--_color));

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    display: block;
    opacity: 0.15;
    background: var(--_background, var(--_color));
    inset: 0;
  }
}

.callout-content > * + * {
  --_flow: 1em;
  margin-block-start: var(--_flow, calc(var(--font-lineheight-3) * 1rem));
}
.callout-title {
  display: flex;
  align-items: center;
  gap: 1ch;
}

.callout-title > * {
  font-size: var(--_title-size);
  font-weight: var(--_title-weight);
}

.callout-content li::marker {
  color: var(--_color);
}

.callout-content a {
  color: var(--_color);
  &:hover,
  &:focus-visible {
    --_color: var(--text-1);
  }
}

@supports(color: color-mix(in srgb, black, white 50%)) {
  .callout-content a {
    color: color-mix(in srgb, var(--_color), var(--text-1) 50%);
  }
}




.callout-icon {
  
  color: var(--_color);
}

.callout-icon svg {
  width: var(--_icon-size);
  height: auto;
}

.callout.note {
  --utility-hue: var(--hue-note);
}

.callout.danger {
  --utility-hue: var(--hue-danger);
}

.callout.warning {
  --utility-hue: var(--hue-warning);
}

.callout.tip {
  --utility-hue: var(--hue-tip);
}

.callout.bug {
  --utility-hue: var(--hue-bug);
}

.callout.info {
  --utility-hue: var(--hue-info);
}

.callout.success {
  --utility-hue: var(--hue-success);
}

.callout.todo {
  --utility-hue: var(--hue-todo);
}

.callout.failure {
  --utility-hue: var(--hue-failure);
}

.callout.question {
  --utility-hue: var(--hue-question);
}

.callout.example {
  --utility-hue: var(--hue-example);
}

.callout.quote {
  --utility-hue: var(--hue-quote);
}

.callout.abstract {
  --utility-hue: var(--hue-abstract);
}
