---
import type { GetStaticPaths } from "astro"
import { getCollection, getEntry } from "astro:content"
import PostCard from "@/components/PostCard.astro"



import BaseLayout from "@/layouts/BaseLayout.astro"

export const getStaticPaths = (async ({ paginate }) => {
  const postCollection = await getCollection("postCollection")

  const posts = postCollection.sort(
    (a, b) => a.data.date.valueOf() - b.data.date.valueOf(),
  )

  return paginate(posts, { pageSize: 3 })
}) satisfies GetStaticPaths

const title = "The Blog"
const description = "A blog about meh."
const { page } = Astro.props
---

<BaseLayout title={title} description={description}>
  <section>
    {
      page.data.map((p) => (
        <article>
          <PostCard post={p} />
        </article>
      ))
    }
  </section>
</BaseLayout>
