.section {
    --_padding-block-start: var(--size-fluid-6);
    --_padding-block-end: var(--size-fluid-6);
    --_bg: initial;
    padding-block-start: var(--_padding-block, var(--_padding-block-start));
    padding-block-end: var(--_padding-block, var(--_padding-block-end));
    background: var(--_bg);
}