.section {
    --_size-start: var(--size-fluid-6);
    --_size-end: var(--size-fluid-6);
    --_surface: initial;
    padding-block-start: var(--_size-block, var(--_size-start));
    padding-block-end: var(--_size-block, var(--_size-end));
    background: var(--_surface);
}