.text--center {
    text-align: center;
}

.text--left {
    text-align: left;
}

.text--right {
    text-align: right;
}

.inline--auto > * {
    margin-inline: auto;
}

.inline-child--auto > * {
    margin-inline: auto;
}

.text--serif {
    font-family: var(--font-serif);
    font-weight: var(--font-weight-4);
}