.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}


.text-serif {
    font-family: var(--font-serif);
    font-weight: var(--font-weight-4);
}

.margin-inline-auto > * {
    --_items-margin-inline: auto;
}