:root {
  --font-sans: system-ui, -apple-system, sans-serif;
  --font-mono: ui-monospace, "SF Mono", Menlo, monospace;
  --font-serif: "Playfair Display", ui-serif, serif;
  --initial: initial;
  --unset: unset;
  --none: none;
  --auto: auto;
  --size-0: 0;
  --size-container-xxs: 240px;
  --size-container-xs: 360px;
  --size-container-sm: 480px;
  --size-container-md: 768px;
  --size-container-lg: 1024px;
  --size-container-xl: 1280px;
  --size-container-xxl: 1440px;
  --size-container-xxxl: 1600px;
  --size-content-4: 72ch;
  --font-weight-bold: var(--font-weight-6);
  --gutter: var(--size-fluid-4);
  --flow-size-0: calc(var(--font-lineheight-0) * 1rem);
  --radius: var(--radius-3);
  --astro-code-color-text: var(--text-1);
  --astro-code-color-background: var(--surface-overlay);
  --astro-code-token-constant: var(--text-1);
  --astro-code-token-string: var(--brand);
  --astro-code-token-parameter: var(--brand);
  --astro-code-token-punctuation: var(--text-1);
  --astro-code-token-link: var(--brand);
  --astro-code-token-comment: var(--text-muted);
}
