
  html {
  --brand-light: var(--indigo-9);
  --brand-2-light: var(--blue-9);
  --text-1-light: var(--gray-9);
  --text-2-light: var(--gray-8);



  --surface-0-light: var(--gray-0);
  --surface-1-light: var(--gray-1);
  --surface-2-light: var(--gray-2);

  --surface-shadow-light: var(--gray-10);
  --shadow-strength-light: 2%;

  --link-light: var(--indigo-9);
  --link-visited-light: var(--indigo-8);
  --link-hover-light: var(--indigo-6);
  --link-active-light: var(--indigo-10);

  --text-overlay-light: var(--gray-0);
  --text-muted-light: var(--gray-7);
  --text-strong-light: var(--blue-12);

  --separator-light: var(--gray-4);

  --surface-overlay-light: var(--gray-0);
  
  --note-light: var(--blue-6);
  --danger-light: var(--red-6);
  --warning-light: var(--yellow-6);
  --tip-light: var(--teal-6);
  --bug-light: var(--pink-6);
  --info-light: var(--cyan-6);
  --success-light: var(--green-6);
  --todo-light: var(--blue-6);
  --failure-light: var(--pink-6);
  --question-light: var(--orange-6);
  --example-light: var(--purple-6);
  --quote-light: var(--stone-6);
  --abstract-light: var(--violet-6);
}
