:root {
  --size-content-4: 72ch;
  --size-0: 0;
  --size-xxs: 240px;
	--size-xs: 360px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1280px;
	--size-xxl: 1440px;
  --size-xxxl: 1600px;
  --flow-size-0: calc(var(--font-lineheight-0) * 1rem);
  --initial: initial;
  --unset: unset;
  --none: none;
  --auto: auto;
  --text-decoration-thickness: .125ex;
}

:target {
  scroll-margin-block-start: calc(1ex + 1svh);
}

del {
  color: var(--text-muted);
  text-decoration-color: var(--danger);
  background: initial;
}