@import 'open-props/postcss/normalize';






:where(ul[role='list'], ol[role='list']) {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  :where(a) {
      padding-inline: 0;
      margin-inline: 0;
  }

  :where(li) {
    padding: 0;
  }

  :where(a) {
    text-underline-offset: .25ex;
  
  }

  :where(a):where([href]) {
    text-decoration-color: inherit;
  }



  :where(a):where([href]):where(:visited) {
    text-decoration-color: inherit;
  }

  :where(a):where([href]):where(:hover) {
    color: var(--link-hover);
  }

  :where(a):where([href]):where(:active) {
    color: var(--link-active);
    text-decoration: none;

  }

  :where(:not(pre) > code) {
    background: var(--surface-overlay);
  }
  



:where(a) {
    padding-inline: 0;
    margin-inline: 0;
}

:where(li) {
  padding: 0;
}

:where(h1, h2, h3, h4, h5, h6, dt) {
  font-weight: var(--font-weight-bold);

}

:where(h1, h2, h3, h4, h5, h6):not([class]) {
  font-weight: var(--font-weight-4);
  font-family: var(--font-serif);
}

:where(strong, b) {
  font-weight: var(--font-weight-bold);
}

:where(figcaption) {
  font-style: italic;
  color: var(--text-muted);
}

[disabled] {
  cursor: not-allowed;
}

:where(table tr:hover td), :where(tbody tr:nth-child(even):hover td) {
  background-color: var(--surface-overlay);
}

:where(blockquote:not([class]) br) {
  display: none;
}

:where(blockquote) {
  max-inline-size: inherit;
}

:where(details) {
  background: var(--surface-1);
  box-shadow: var(--shadow-1);
  border: var(--border-size-2) solid var(--surface-overlay);
}

:where(summary > *) {
  display: inline-block;
}

:where(details > p) {
  font-size: var(--font-size-1);
}

:where(details > *:not(summary) + *) {
  margin-block-start: var(--size-3);
}

:where(summary) {
  background: var(--surface-overlay);
 

}





/* :where(blockquote) {
    padding-block: unset;
    padding-inline: unset;
    max-inline-size: unset;
}

:where(:not(blockquote) > cite) {
  padding-inline-start: unset;
}

:where(blockquote, :not(blockquote) > cite) {
  border: unset;
} */

  