/* @import "open-props/postcss/normalize"; */
/* @import "/node_modules/open-props/normalize.min.css"; */

@import "./brand.css";


@import "/node_modules/open-props/css/packs/normalize/normalize.src.css";


:where(html) {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

:where(body) {
  font-family: var(--font-family-body);
}

:where(ul[role="list"], ol[role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}


:where(li) {
  padding: 0;
}


:where(a) {
  padding-inline: 0;
  margin-inline: 0;
  text-underline-offset: 0.25ex;
  text-decoration-thickness: var(--text-decoration-thickness);
}

:where(a[href]) {
  color: var(--link, var(--brand));
}

:where(a):where([href]) {
  text-decoration-color: inherit;
}

:where(a):where([href]):where(:visited) {
  text-decoration-color: inherit;
}

:where(a):where([href]):where(:hover) {
  color: var(--link-hover);
  text-underline-offset: 0.25ex;
}

:where(a):where([href]):where(:focus-visible) {
  color: var(--link-hover);
}

:where(a):where([href]):where(:active) {
  color: var(--link-active);
  text-decoration: none;
}




:where(li) {
  padding: 0;
}

:where(h1, h2, h3) {
  line-height: calc(1em + .5rem);
}

:where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
}


:where(strong, b, dt, summary) {
  font-weight: var(--font-weight-bold, 700);
}

:where(figcaption) {
  font-style: italic;
  color: var(--text-2);
}

:where([disabled]) {
  cursor: not-allowed;
}



:where(table tr:hover td),
:where(tbody tr:nth-child(even):hover td) {
  background-color: color-mix(in oklch, var(--accent) 15%, var(--surface-2));
}

:where(blockquote:not([class]) br) {
  display: none;
}

:where(blockquote) {
  max-inline-size: inherit;
  position: relative;

}

:where(blockquote):not(:has(cite)) {
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    display: block;
    background: var(--surface-3);
    inset: 0;
  }
}

:where(details) {
  background: var(--surface-1);

}

:where(summary) {
  background: var(--surface-3);
  font-size: var(--font-size-2);
}

:where(summary > *) {
  display: inline-block;
}

:where(details > p) {
  font-size: var(--font-size-1);
}

:where(details > *:not(summary) + *) {
  margin-block-start: var(--size-3);
}



:where(sup) {
  font-family: var(--font-family-mono);
}

:where(sup a) {
  display: inline-grid;
  place-content: center;
  min-height: var(--size-6);
  min-width: var(--size-6);
  background-color: var(--surface-3);
  border-radius: var(--radius-round);
}

:where(hr) {
  height: var(--border-size-1);
  background-color: var(--separator);
}

:where(:target) {
  scroll-margin-block-start: 2ex;
}

:where(del) {
  color: var(--text-2);
  text-decoration-color: var(--danger);
  background: initial;
}
