pre {
    max-inline-size: unset;
    padding: var(--size-fluid-2);
    border-radius: var(--radius);
  }

  details:has(pre) {
    background: var(--surface-overlay);
  }

  details pre {
    background: unset;
    border-radius: unset;
    padding: unset;
  }

