:root {
    --astro-code-color-text: var(--text-1);
    --astro-code-color-background: var(--surface-overlay);
    --astro-code-token-constant: var(--text-1);
    --astro-code-token-string: var(--brand);

    --astro-code-token-parameter: var(--brand);
    --astro-code-token-punctuation: var(--text-1);
    --astro-code-token-link: var(--brand);

    --astro-code-token-comment: var(--text-muted);

    --astro-code-token-keyword: var(--blue-9);
    --astro-code-token-function: var(--cyan-9);
    --astro-code-token-string-expression: var(--violet-9);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --astro-code-token-keyword: var(--blue-3);
      --astro-code-token-function: var(--cyan-3);
      --astro-code-token-string-expression: var(--violet-3);
    }
  }

  .light {
    --astro-code-token-keyword: var(--blue-9);
    --astro-code-token-function: var(--cyan-9);
    --astro-code-token-string-expression: var(--violet-9);
  }

  .dark {
    --astro-code-token-keyword: var(--blue-3);
    --astro-code-token-function: var(--cyan-3);
    --astro-code-token-string-expression: var(--violet-3);
  }

  pre {

    max-inline-size: unset;
    padding: var(--size-fluid-3);
    border-radius: var(--radius-3);
  }

