:root {
  --font-sans: "Inter Variable", system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif;
  --font-mono: ui-monospace, SF Mono, Menolo, Dank Mono, Operator Mono,
    Inconsolata, Fira Mono, Monaco, Droid Sans Mono, Source Code Pro, monospace;
  --font-serif: Cardo, serif;

  --size-0: 0;
  --size-container-xxs: 240px;
  --size-container-xs: 360px;
  --size-container-sm: 480px;
  --size-container-md: 768px;
  --size-container-lg: 1024px;
  --size-container-xl: 1440px;
  --size-container-xxl: 1920px;

  --gutter: var(--size-fluid-3);
}
