:root {
  --font-sans: system-ui, -apple-system, sans-serif;
  
  --font-mono: ui-monospace, SF Mono, Menlo, monospace;

  --font-serif: "Playfair Display", ui-serif, serif;

  --size-0: 0;
  --size-container-xxs: 240px;
  --size-container-xs: 360px;
  --size-container-sm: 480px;
  --size-container-md: 768px;
  --size-container-lg: 1024px;
  --size-container-xl: 1280px;
  --size-container-xxl: 1440px;
  --size-container-xxxl: 1600px;

  --size-content-4: 72ch;
--font-weight-bold: var(--font-weight-6);
  --gutter: var(--size-fluid-4);

  --gray-0: #ffffff;
}
