---
import type { ConfigObj } from "@/types/config.types";
import config from "@/data/config.json";
import BackLink from "@/components/BackLink.astro"

import BaseLayout from "@/layouts/BaseLayout.astro"



const { title, description }: ConfigObj["site"] = config.site;

---

<BaseLayout title={`404 ${title}`} description={description}>
  <section class="section">
    <div class="container flow">
      <h1>Error 404</h1>
      <p>I don't know how you got here, but go back from whence you came.</p>

      <BackLink />
    </div>
  </section>
</BaseLayout>
