---
import { getEntry } from 'astro:content';

import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts"
import BaseLayout from "@/layouts/BaseLayout.astro"


const home = await getEntry('pageCollection', 'home');

const title = SITE_TITLE
const description = SITE_DESCRIPTION
const { Content } = await home.render();

---

<BaseLayout title={title} description={description}>

  <div class="prose">
    <Content />
  </div>
</BaseLayout>

<style is:global lang="postcss">

 .prose h1 {
    font-size: var(--font-size-6);
  }

  .hero {
    text-align: center;
    background-color: var(--surface-0);
  }

  .hero > * {
    margin-inline: auto;
  }

  img {
    border-radius: var(--radius-3);
    overflow: hidden;
  }

  figure, figure + * {
    --flow-space-value: var(--size-9);
  }
</style>
