---
type Props = {
  attributionName?: string
  attributionTitle?: string
  citeName?: string
  citeUrl?: string
  style?: string
  addCite?: boolean
}

const { attributionName, attributionTitle, citeName, style, citeUrl, addCite, ...restProps } = Astro.props
---

<blockquote class="pullquote" style={style} cite={citeUrl ? citeUrl : ''} {...restProps}>
  <slot />
  {
    attributionName && (
      <footer>
        <span class="pullquote__attribution-name">{attributionName}</span> 
        {attributionTitle && (
          <br />
          <span class="pullquote__attribution-title">{attributionTitle}</span>
        )}
        {citeName && (
          <br />
          <cite class="pullquote__cite">{citeName}</cite>
        )}
      </footer>
    )
  }
</blockquote>

<style is:global>
  .pullquote {
    --_text: var(--surface-overlay);
--_quote-size: var(--font-size-6);
--_attribution-name-size: var(--font-size-2);
--_attribution-title-size: var(--font-size-1);
--_cite-size: var(--font-size-1);

    color: var(--_text);
    border: 0;
    display: grid;
    gap: var(--size-fluid-5);
    padding-block: unset;
    padding-inline: unset;
    max-inline-size: var(--size-content-4);
    text-align: center;
    margin-inline: auto;
  }

  .pullquote > p {
    font-family: var(--font-serif);
    font-size: var(--_quote-size);
    font-style: italic;
    position: relative;
    line-height: var(--font-lineheight-1);

    
  }

 
 .pullquote__attribution-name {
    font-size: var(--_attribution-name-size);
  }

  .pullquote__attribution-title {
    opacity: 0.7;
    font-size: var(--_attribution-title-size);
  }

 .pullquote__cite {
    font-size: var(--_cite-size);
    opacity: 0.7;
  }
</style>
