---
import { Image } from "astro:assets"
import { getEntry, type CollectionEntry } from "astro:content";
import { humanize, slugify, plainify, metafy } from "@/utils/textConverter";

type AuthorData = {
  author: {
    slug: string;
  };
};

type Props = {
  data: CollectionEntry<"postCollection"> & { author: AuthorData };
};

const { data } = Astro.props;
const { title, author, thumbnail, thumbnailAlt } = data.data;



// const authorInfo = 
// data.collection === "postCollection" && data?.author?.slug ? (await getEntry("authorCollection", data.data.author.slug)).data : null;

// console.log(data.data.author.slug)

const authorData = await getEntry("authorCollection",author.slug)

// console.log(data.collection)
---

<div>
  {thumbnail && <Image width={360} height={240} src={thumbnail} alt="" />}
 <h3><a href={'/' + data.slug}>{title} by {authorData.data.name}</a></h3>

 
</div>
