---
import { Icon } from 'astro-icon/components';

type Props = {
  variant?: "default" | "accent";
  size?: "small" | "medium" | "large";
  className?: string;
  href?: string;
  externalTarget?: boolean;
  id?: string;
  ariaLabel?: boolean;
  iconName?: string
}

const {
  id,
  variant,
  size = "medium",
  className,
  href,
  externalTarget,
  ariaLabel,
  iconName,
  ...restProps
} = Astro.props as Props;
---

{
  href && (
    <a
      id={id}
      target={externalTarget ? "_blank" : null}
      rel={externalTarget ? "noreferrer noopener" : null}
      href={href}
      class:list={[
        variant ? "button button--" + variant : null,
        size ? "button--" + size : null,
        className,
      ]}
      {...restProps}
    >
    {iconName && 
      <Icon name={iconName} />
    }
      <slot />
    </a>
  )
}



