---
type Props = {
  styles?: any
  
}

const { styles } =
  Astro.props as Props


---

<div class="card" style={styles}><slot /></div>

<style>
  .card {
    --_row-gap: var(--size-3);
    display: flex;
    flex-direction: column;
    row-gap: var(--_row-gap);
  }
</style>