---


const { ...restProps } =
  Astro.props


---

<div class="card" {...restProps}><slot /></div>

<style>
  .card {
    --_row-gap: var(--size-3);
    display: flex;
    flex-direction: column;
    row-gap: var(--_row-gap);
  }
</style>