---
type Props = {
  className?: string
  hasFlow?: boolean
  flowSize?: string
}

const { className, hasFlow, flowSize, ...restProps } = Astro.props
---

<div class:list={['container', hasFlow ? 'flow' : '', className]} style={flowSize ? `--_flow: ${flowSize};` : ''} {...restProps}>
  <slot />
</div>
