---
import type { ConfigObj } from "@/data/config.types"
import config from "@/data/config.json"
import colophon from "@/data/colophon.json"
import Grid from "@/components/Grid.astro"
import { makeRichTitle } from "@/utils/textConverter"
import ThemeSelector from "@/components/ThemeSelector.astro"
// const today = new Date()

const { title: siteTitle }: ConfigObj['site'] = config.site
---

<footer class="colophon section flow container">
  <div class="colophon__wrapper column-breakout">
    <div class="colophon__details">
		<p class="colophon__title">{siteTitle}</p>
    </div>
    <Grid auto
      class="colophon__links" columnSize="size-11"
    >
      {
        Object.entries(colophon).map(([section, items]) => (
          <dl class="colophon__links__list">
            <dt>{makeRichTitle(section)}</dt>
            {items.map((item) => (
              <dd>
                <a href={item.url}>{item.name}</a>
              </dd>
            ))}
          </dl>
        ))
      }
    </Grid>
  </div>
  <div class="colophon__extra" style="--_container-column: column-breakout;">
    <ThemeSelector />

    <div>Managed with <a href="https://frontmatter.codes/">Front Matter</a>. Made with <a href="https://astro.build">Astro</a>.</div>
  </div>
</footer>

<style is:global>
  .colophon {
    --_flow: var(--size-fluid-5);
  }

  .colophon__wrapper {
    display: flex;
    flex-wrap: wrap;
	row-gap: var(--gutter);
  }

  .colophon__details {
    flex-basis: max(var(--size-content-2), 50%);
    flex-grow: 1;
  }

  .colophon__title {
	font-weight: var(--font-weight-bold);

  }

  .colophon__links {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
  }

  .colophon__links__list :is(dt, dd) {
    max-inline-size: unset;
  }

  .colophon__links__list dd {
    font-size: var(--font-size-1);
  }

  .colophon__links__list a {
    padding-block: var(--size-2);
    display: inline-block;
  }

  .colophon__extra {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-block-start: var(--size-5);
    border-block-start: var(--border-size-1) solid var(--separator);
  }
</style>
