---
type Props = {
  fontSize?: "1" | "2" | "3" | "4" | "5" | "6" | "7" | "8" | "9"
  fontWeight?: "normal" | "bold"
  fontFamily?: "serif" | "sans-serif" | "mono"
  textAlign?: "default" | "center"
}

const {
  fontSize,
  fontWeight,
  fontFamily,
  textAlign = "default",
} = Astro.props
---

<div
  class:list={[
    `heading--symbol`,
    fontFamily ? `heading--${fontFamily}` : null,
    fontSize ? `heading--size` : null,
    fontWeight === 'bold' ? `heading--weight-bold` : null,
    textAlign === 'center' ? `heading--center` : null,
  ]}
  style={{
    fontSize: fontSize ? ` var(--font-size-${fontSize});` : "",
  }}
>
  <slot />
</div>

<style is:global>
  .heading--symbol :where(h2, h3, h4, h5)::before {
    --_color: var(--brand);
    content: "";
    width: 1.5rem;
    height: 3rem;
    background: var(--_color, currentColor);
    clip-path: path(
      "M11.93.684v8.039l5.633-5.633 1.216 1.23-5.66 5.66h8.04v1.737H13.2l5.701 5.701-1.23 1.23-5.742-5.742V21h-1.737v-8.094l-5.77 5.77-1.23-1.217 5.743-5.742H.842V9.98h8.162l-5.701-5.7 1.23-1.231 5.66 5.66V.684h1.737Z"
    );
    display: block;
  }

  .heading--center {
    text-align: center;
    
  }

  .heading--center :where(h2, h3, h4, h5)::before {
    margin-inline: auto;
  }

  .heading--sans-serif :is(h2, h3, h4, h5) {
    font-family: var(--font-sans);
  }

  .heading--size :is(h2, h3, h4, h5) {
    font-size: inherit;
  }

  .heading--weight-bold :is(h2, h3, h4, h5) {
    font-weight: var(--font-weight-5);
  }
</style>
