---
import NavTest from "@/components/NavTest.astro"
import config, { site } from "@/data/config.json"
import Logo from "@/components/Logo.astro"


---

<header
  id="main-header"
  class="content-grid banner"
>
  <div class="breakout">

   

<Logo />

    <NavTest />
    
  </div>
</header>

<style is:global lang="postcss">

  /* .logo {
    display: block;
  }

  .logo-darkmode {
    display: none;
  }

  @media (--OSdark) {
    .logo {
      display: none;
    }
    .logo-darkmode {
      display: block;
    }
  } */

  .banner {
    padding-block: var(--size-4); 
  }

  .banner > * {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
</style>
