---
import Navigation from "@/components/Navigation.astro"
import Logo from "@/components/Logo.astro"
---

<header id="main-header" class="container banner">
  <div class="column-breakout">
    <Logo />

    <Navigation />
  </div>
</header>

<style is:global>
  .banner {
    padding-block: var(--size-4);
  }

  .banner > * {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
</style>
