<section class="hero section">
  <div class="container flow">
    <slot />
  </div>
</section>

<style is:global>
  .hero * {
    text-align: center;
    margin-inline: auto;
  }

  .hero :is(h1, h2) {
    font-size: var(--font-size-6);
    max-inline-size: var(--size-header-2);
  }

  .hero figure, .hero figure + * {
    --_flow: var(--size-10);
  }

  .hero img {
    border-radius: var(--radius-3);
    overflow: hidden;
  }



</style>