<section class="hero section">
  <div class="container flow">
    <slot />
  </div>
</section>

<style is:global>
  .hero * {
    text-align: center;
  }

  .hero :is(h1, h2) {
    font-size: var(--font-size-6);
    max-inline-size: var(--size-header-2);
  }

  .hero * {
    margin-inline: auto;
  }
</style>
