---
type Props = {
    className?: string
}

const { className, ...restProps } = Astro.props
---

<section class="section flow container" style="--_padding-block: var(--size-fluid-6); --_flow: var(--size-fluid-5);">
<div class={`signup ${className}`} {...restProps}>
    <slot />
</div>
</section>

<style is:global>
    .signup {
        --_surface: var(--surface-overlay);
        background-color: var(--_surface); 
        border-radius: var(--radius-3);
        padding: var(--size-fluid-6) var(--size-fluid-4);
        display: grid;
        place-content: center;
        gap: var(--size-5);
        text-align: center;
        
    }

    .signup > * {
        margin-inline: auto;
    }
</style>