---

import { Icon } from "astro-icon/components"
import StyledLink from "@/components/StyledLink.astro"
import "@/styles/components/pagination.css"

import config from "@/data/config.json"

import { type CollectionEntry } from "astro:content"
import type { Blog } from "@/types/configuration"

type Props = {
  prevEntry: CollectionEntry<"post">
  nextEntry: CollectionEntry<"post">
}


const blogConfig: Blog = config.blog;
const { endpoint: blogEndpoint } = blogConfig



const { prevEntry, nextEntry } = Astro.props
---

<nav class="pagination" aria-label="Pagination">
    <ul class="pagination__list" role="list">
      
      
      {
        prevEntry ? (
        <li class="pagination__item">
          <StyledLink>
            <Icon aria-hidden="true" name="lucide:move-left" />
              <a href={`/${prevEntry.slug}`}>
                Previous: {prevEntry.data.title}
              </a>
          </StyledLink>
        </li>
        ) : (
        <li aria-hidden="true" class="pagination__item">&nbsp;</li>
        )
      }

       
      
  
      <li class="pagination__item">
        <StyledLink>
          <Icon aria-hidden="true" name="lucide:layout-grid" />
          <a href={blogEndpoint ? blogEndpoint : `/blog`}>View all posts</a>
        </StyledLink>
      </li>

      {
        nextEntry ? (
        <li class="pagination__item">
          <StyledLink>
            <a href={`/${nextEntry.slug}`}>
              Next: {nextEntry.data.title}
            </a> <Icon aria-hidden="true" name="lucide:move-right" />
          </StyledLink>
        </li>
        ) : (
        <li aria-hidden="true" class="pagination__item">&nbsp;</li>
        )
      }
  
      
      
      
    </ul>
  </nav>
