---

import { Icon } from "astro-icon/components"
import StyledLink from "@/components/StyledLink.astro"
import "@/styles/components/pagination.css"

import { type CollectionEntry } from "astro:content"

type Props = {
  prevEntry: CollectionEntry<"postCollection">
  nextEntry: CollectionEntry<"postCollection">
}

const { prevEntry, nextEntry } = Astro.props
---

<nav class="pagination" aria-label="Pagination">
    <ul class="pagination__list" role="list">
      
      {
        nextEntry ? (
        <li class="pagination__item">
          <StyledLink>
            <Icon aria-hidden="true" name="lucide:move-left" />
            <a href={`/${nextEntry.slug}`}>
            Previous: {nextEntry.data.title}
            </a>
            
          </StyledLink>
        </li>
        ) : (
        <li aria-hidden="true" class="pagination__item">&nbsp;</li>
        )
      }


       
      
  
      <li class="pagination__item">
        <StyledLink>
          <Icon aria-hidden="true" name="lucide:layout-grid" />
          <a href="/blog">View all posts</a>
        </StyledLink>
      </li>
  
      
      {
        prevEntry ? (
        <li class="pagination__item">
          <StyledLink>
           
              <a href={`/${prevEntry.slug}`}>
                Next: {prevEntry.data.title}
              </a>
              <Icon aria-hidden="true" name="lucide:move-right" />
          </StyledLink>
        </li>
        ) : (
        <li aria-hidden="true" class="pagination__item">&nbsp;</li>
        )
      }
      
    </ul>
  </nav>
