---
type Props = {
    class?: string
}
const { class: className, ...restProps } = Astro.props
---

<span class:list={[`styled-link`, className]} {...restProps}>
    <slot />
</span>

<style>
    .styled-link {
        position: relative;
        --_color: var(--link);
        --_align-items: initial;
        display: inline-flex;
        gap: var(--size-relative-2);
        color: var(--_color);
        align-items: var(--_align-items);
        text-wrap: balance;
    }
</style>


<style is:global>
    .styled-link [data-icon] {
        height: auto;
        width: 1em;
        flex: 1 0 auto;
    }
</style>