---
import Guide from "@/data/navigation-guide.json"

import Heading from "./Heading.astro"

import ButtonLink from "./ButtonLink.astro"
import { Icon } from "astro-icon/components"

import type { ChildItem } from "@/types/navigation.types"

const getItems = (): ChildItem[] => Guide as ChildItem[]

const guideItems = getItems()

const { pathname } = Astro.url
---

{
  guideItems ? (
    <>
      <Heading fontSize="font-size-5">
        <h2>Table of Contents</h2>
      </Heading>
      <nav class="guide-navigation">
        <ul role="list" class="guide-navigation__list">
          {guideItems.map((item) => (

            
            <ButtonLink
              variant="accent"
              size="large"
              href={item.url}
              class={item.url === pathname ? `button--current` : ""}
              style={{ justifyContent: "space-between" }}
            >
              {item.name} 
              {item.url === pathname ? (
                <Icon name="lucide:target" />
                ) : <Icon name="lucide:arrow-right" />
            }
            </ButtonLink>


          ))}
        </ul>
      </nav>
    </>
  ) : (
    <p>Sorry, there are no contents </p>
  )
}

<style>
  .guide-navigation__list {
    display: flex;
    flex-direction: column;
    gap: var(--size-5);
  }


</style>
@/types/navigation.types