---
import { makeSlug } from "@/utils/textConverter"
import { makeRichTitle } from "@/utils/textConverter"

type Props = {
  name: any
  type: "category" | "tag"
  className?: string
}

const { name, type, className } = Astro.props


type ModifiedType = "category" | "tag" | null

let modifiedType: ModifiedType

if (type === "tag") {
  modifiedType = "tag"
} else if (type === "category") {
  modifiedType = "category"
} else {
  // Set modifiedType to null for other cases
  modifiedType = null
}
---

{
  modifiedType && (
    <a class={className} href={modifiedType ? `/${modifiedType}/${makeSlug(name).toLowerCase()}` : "#"}>
      <span>{makeRichTitle(name)}</span>
    </a>
  )
}
