---
import { Icon } from 'astro-icon/components';
---


<div class="theme-switcher" x-cloak x-data="{ setTheme: (newTheme) => { theme = newTheme; document.documentElement.setAttribute('data-theme', newTheme); } }">
  <button x-on:click="setTheme('light')" :class="{'active': theme === 'light'}">
    <Icon name="lucide:sun" />
    <span class="sr-only">Light</span>
  </button>

  <button x-on:click="setTheme('dark')" :class="{'active': theme === 'dark'}">
    <Icon name="lucide:moon" />
    <span class="sr-only">Dark</span>
  </button>

  <button x-on:click="setTheme('auto')" :class="{'active': theme === 'auto'}">
    <Icon name="lucide:cog" />
    <span class="sr-only">Auto</span>
  </button>

  <span class="sr-only" x-show="theme !== 'auto'" x-text="'Theme is now in ' + theme + ' mode'"></span>
  <span class="sr-only" x-show="theme === 'auto'">Theme is now in system mode</span>
</div>





<style>
  .theme-switcher {
    display: flex;
    gap: var(--size-1);
  }

  button {
    padding: var(--size-2);
  }

  [data-icon] {
    width: var(--size-relative-8);
    height: auto;
    aspect-ratio: 3/2;
  }
  button.active {
    color: var(--text-overlay);
    background-color: var(--brand);
    border-color: var(--brand);
    cursor: default;
  }


</style>
