---
import { Icon } from 'astro-icon'
---

<div class="theme-switcher" x-cloak>
  <!-- light  -->
  <button x-on:click="darkMode = 'light'" x-bind:class="{'active': darkMode === 'light'}">
    <Icon name="bx:bxs-sun" />
    <span class="sr-only">light</span>
    
  </button>

  <!-- dark -->
  <button x-on:click="darkMode = 'dark'" x-bind:class="{'active': darkMode === 'dark'}">
    <Icon name="bx:bxs-moon" />
    <span class="sr-only">dark</span>
    
  </button>

  <!-- system -->
  <button x-on:click="darkMode = 'system'" x-bind:class="{'active': darkMode === 'system'}">
    <Icon name="bx:bxs-cog" />
    <span class="sr-only">system</span>
    
  </button>

  <span class="sr-only" x-show="darkMode !== 'system'" x-text="'Theme is now in ' + darkMode + ' mode'"></span>
  <span class="sr-only" x-show="darkMode === 'system'">Theme is now in system mode</span>
  

</div>

<style>
  .theme-switcher {
    display: flex;
    gap: var(--size-1);
  }

  button {
    padding: var(--size-2);
  }

  [astro-icon] {
    width: var(--size-relative-8);
    height: auto;
    aspect-ratio: 3/2;
  }
  button.active {
    color: var(--surface-1);
    background-color: var(--brand);
    border-color: var(--brand);
    cursor: default;
  }
</style>
