/* :where(.entry > *) {
    --_container-column: column-passage;
  } */

/* .entry__prose {
    --_container-column: column-full;
  } */

:where(.entry__prose > *) {
  --_container-column: column-passage;
}

.entry__heading {
  --_container-column: column-passage;
}

.entry__footer {
  --_container-column: column-passage;
}

.entry__heading {
  --_flow: var(--size-4);

  display: grid;
}

* + .entry__heading {
  margin-block-start: var(--size-fluid-4);
}

.entry__title {
  font-weight: var(--font-weight-4);
  font-family: var(--font-serif);
  font-size: var(--font-size-fluid-2);
  max-inline-size: initial;
}

:where(.entry__thumbnail) {
  border-radius: var(--radius-3);
}

.entry__meta {
  color: var(--text-2);
}

.entry__date-updated {
  font-style: italic;
}

.entry__heading + .entry__prose {
  margin-block-start: var(--size-fluid-5);
}

.entry__prose h2:not([class]) {
  font-size: var(--font-size-5);
}

.entry__prose h3:not([class]) {
  font-size: var(--font-size-4);
}

.entry__prose h4:not([class]) {
  font-size: var(--font-size-3);
}

.entry__prose :where(*) {
  --_flow: 1.5em;
}

.entry__prose :where(h2, h3, h4, h5, .text-wrapper) + :where(h2, h3, h4, h5, .text-wrapper) {
  --_flow: initial;
}

/* .entry__prose figure,
.entry__prose p:has(img:only-child) {
  --_flow: var(--size-fluid-4);
  & + *:not(h2) {
    --_flow: var(--size-fluid-4);
  }
} */
/* .entry__prose pre {
  --_container-column: column-content;
  margin-block-start: var(--size-fluid-4);
  + * {
    margin-block-start: var(--size-fluid-4);
  }
} */

.entry__thumbnail {
  width: 100%;
}

.entry__prose blockquote:has(cite) {
  --_container-column: column-content;
  padding-block: unset;
  padding-inline: unset;
  max-inline-size: unset;
  border: unset;
  text-align: center;
  gap: var(--size-fluid-5);
  margin-block-start: var(--size-fluid-6);
  + * {
    margin-block-start: var(--size-fluid-6);
  }
  p {
    text-wrap: balance;
    font-family: var(--font-serif);
    font-size: var(--font-size-fluid-2);
    font-style: italic;
    position: relative;
    line-height: var(--font-lineheight-1);
  }
  footer {
    font-size: var(--font-size-2);
  }
  cite {
    font-size: var(--font-size-2);
    font-style: normal;
    border: unset;
    padding-inline-start: unset;
    font-family: var(--font-sans);
  }

  
}

.entry__footer {
  margin-block-start: var(--size-fluid-5);
}

.entry__tags {
  display: flex;
  gap: var(--size-2);
}

.entry__tags .tags__link {
  display: inline-block;
  border-radius: var(--radius-round);
  background-color: var(--surface-overlay);
  padding: var(--size-relative-2) var(--size-relative-4);
  font-size: var(--font-size-1);
}



.entry__prose img:not([class]) {
  border-radius: var(--radius-3);
}

/* p:has(> img:nth-child(1)) {
  --_container-column: column-content;
  max-inline-size: none;
} */

p:has(> img:nth-child(1)) img {
  margin-inline: auto;
}

.entry__prose hr {
  margin-block-end: unset;
  --_flow: var(--size-fluid-4);
  + * {
    --_flow: var(--size-fluid-4);
  }
}

.entry__prose table {
  width: initial;
}

.entry__title small {
  font-family: var(--font-sans);
  font-size: 40%;
  display: block;
  color: var(--text-2);
}



.entry__prose .footnotes {
  margin-block-start: var(--size-fluid-4);
  border-block-start: var(--border-size-1) solid var(--separator);
  padding-block-start: var(--size-fluid-2);
}

.entry__prose .footnotes ol * {
  font-size: var(--font-size-1);
  
}

.entry__prose .footnotes ol {
  color: var(--text-2);
}






/* blockquote.callout {
  background: var(--surface-2);

}

.callout-title {
  font-size: var(--font-size-3);
  }

.callout-title > * {
font-size: 1em;

}

.callout-title svg {
  height: 1em;
  width: 1em;
  
  }

.callout.note {
  color: var(--brand);
}

.callout-icon {
  color: currentColor !important;
}

.callout-content {
  color: var(--text-1);
}

.callout-title {
  font-weight: var(--font-weight-bold);
  display: flex;
    align-items: center;
    gap: var(--size-relative-2);
} */


