
 .nav-primary {
    display: none;
    flex: 1 1 100%;
    @media (--lg-n-above) {
      display: flex;
      flex: 0 1 auto;
      align-items: center;
      padding-inline: var(--size-gutter);
    }
  }

  .nav-primary.show {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
  }

  .nav-primary__item {
    flex: 1 1 100%;
    @media (--lg-n-above) {
      flex: unset;
    }
  }

  .nav-primary > .nav-primary__item {
    border-top: 1px solid var(--surface-4);
    @media (--lg-n-above) {
      border-top: unset;
    }
    /* width: 100%; */
  }

  .nav-primary > .nav-primary__item > .nav-primary__link {
    padding-block: var(--size-1);
    @media (--lg-n-above) {
      height: 100%;
      display: inline-flex;
      align-items: center;
      gap: 0.5ch;
    }
  }

  .nav-primary__link {
    text-decoration: none;
    padding-inline: var(--size-gutter);
    padding-block: var(--size-1);
    display: flex;
    @media (--lg-n-above) {
      padding-inline: var(--size-1);
    }
  }

  .nav-primary__item--parent {
    position: relative;
  }


  .nav-primary__link--parent {
    position: relative;
    justify-content: space-between;
    align-items: baseline;
  }

  .nav-primary__link--child {
    padding-block: var(--size-1);
    @media (--lg-n-above) {
      padding-inline: var(--size-2);
    }
  }

  

  .nav__item--parent:has(a[aria-expanded="true"]) {
    background: var(--surface-2);
    @media (--lg-n-above) {
      box-shadow: var(--shadow-separator);
      border-radius: var(--radius-2);
    }
  }

  .nav__link--parent svg {
    height: 1ex;
    width: auto;
  }



  .nav-sub__list {
    
    transition: opacity linear 250ms, visibility linear 250ms;
    @media (--lg-n-above) {
      transition: all ease 250ms;
      border-radius: var(--radius-2);
      z-index: 4;
      position: absolute;
      top: calc(100% + var(--size-1));
      background: var(--color-light-glare);
      box-shadow: var(--shadow-separator);
      right: 0;
      min-width: 20ch;
      overflow: hidden;
      padding-block: var(--size-1);
      
    }
  }

  .nav__item--parent:focus-within > a {
    color: var(--color-accent);
  }



  #subnav[aria-hidden="true"] {
    overflow: hidden;
    padding-block-end: 0;
    /* display: none; */
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    @media (--lg-n-above) {
      max-height: unset;
    transform: translateY(10%);
    }
  }

  #subnav[aria-hidden="false"] {
    padding-block-end: var(--size-1);
    /* display: block; */
    max-height: 100%;
    visibility: visible;
    @media (--lg-n-above) {
      max-height: unset;
    opacity: 1;
    transform: translateY(0%);
    }
  }

  a[aria-current="page"],
  li:has(a[aria-current="page"]) > a {
    color: var(--color-accent);
  }

  a[aria-current="page"] {
    cursor: default;
  }
