---
import { makeSmartText } from "@/utils/textConverter"
import { Icon } from "astro-icon/components"
import Title from "./Title.astro"

type Props = {
  title?: string
  variant: "tip" | "info" | "caution" | "danger"
  class?: string
  style?: any
}

const { title, variant, class: className, ...restProps } = Astro.props

const getIcon = () => {
  switch (variant) {
    case "tip":
      return "pin"
    case "info":
      return "info"
    case "caution":
      return "alert-triangle"
    case "danger":
      return "alert-octagon"
    default:
      return ""
  }
}

const iconName = getIcon();

const styles = {
  ...(variant === 'tip' ? { '--_accent': 'var(--tip)' } : {}),
  ...(variant === 'caution' ? { '--_accent': 'var(--caution)' } : {}),
  ...(variant === 'danger' ? { '--_accent': 'var(--danger)' } : {}),
  ...(variant === 'info' ? { '--_accent': 'var(--info)' } : {}),
};
---

<aside class:list={[`callout callout--${variant}`, className]} style={{
  ...styles, 
  ...restProps.style
}} {...restProps}>
  <section class="callout__content flow">
  {
    title && (
      <p set:html={makeSmartText(title)} class="callout__title" />
    )}

    {Astro.slots.has('title') && (
      <Title as="p" class="callout__title">
        <slot name="title" />
      </Title>
    )
  }
    <slot />
  </section>
  <Icon class="callout__icon" name={`lucide:${iconName}`} aria-hidden="true" />
</aside>

<style is:global>
  .callout {
    --_accent: var(--brand);
    display: grid;
    gap: var(--size-3);
   
    padding: var(--size-6);
    position: relative;
    z-index: 0;
    border-radius: min(calc(var(--radius) / 2), var(--radius-2));
    overflow: hidden;
    grid-template-columns: auto max-content;
    align-items: start;
    
    border-inline-start: var(--border-size-3) solid var(--_accent);
  }


  .callout::before {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    background: var(--_accent, var(--surface-overlay));
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.1;
  }

  .callout__content {
    --_flow: var(--size-3);

  }



  .callout__title {
    /* color: var(--_accent); */
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-bold);
  }

  .callout__icon {
    color: var(--_accent);
    font-size: var(--font-size-fluid-2);
  }

  .callout code {
    background-color: var(--_accent);
    color: var(--text-overlay);
  }
</style>
