---


const { ...restProps } =
  Astro.props


---

<div class="card" {...restProps}><slot /></div>

<style>
  .card {
    --_row-gap: var(--size-3);
    display: flex;
    flex-direction: column;
    row-gap: var(--_row-gap);
  }

  .card:has(> .card__body) {
    border: var(--border-size-2) solid var(--surface-3);
    padding: var(--size-4) var(--size-5);
    border-radius: var(--radius);
  }
</style>