---
import { type CollectionEntry } from "astro:content"

type Props = {
  entry: CollectionEntry<"post">
}

const { entry } = Astro.props
const { title } = entry.data

---

<a href={`/${entry.slug}`}
>{title}</a>
